{% extends 'invapp/layout.html' %}
{% block title %}Create Product{% endblock %}
{% block content %}
<h1 class="text-center">Products</h1>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>SKU</th>
            <th>Description</th>
            <th>Price</th>
            <th>Suppliers</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.product_id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.sku }}</td>
            <td>{{ product.description }}</td>
            <td>${{ product.price }}</td>
            <td>{{ product.supplier}}</td>
            <td>
                <a href="{% url 'product_update' product.product_id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'product_delete' product.product_id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
</table>
{% endblock %}